/* Text Styling: */
h1, h2, p {
   color: white;
   position; center;
}
p1, p2, p3 {
   font-family: sans-serif;
   font-size: 16pt;
   position: center;
}
p4, p5, p6, p7 {
   font-family: serif;
   font-size: 14pt;
   position: center;
}
