/*-----------------------
| CSS for Navigation Menu |
 ------------------------*/

 /* MENU BAR (CONTIANER): */
menu{
  margin: 0;
  padding: 0;
  background-color: white;
}

 /* TOP-LEVEL LINKS: */
 #site-links{
   margin:0;
   padding:0;
   display: inline-block;
 }
 #site-links .menu-item {
   width: 8em;
   padding: .4em 2em;
   display: inline-block;

   background-color: red;

   text-align: center;
   color: #FFF;
 }
 #site-links .menu-item:hover {
   color: lime green;
   text-decoration: underline overline;
   text-decoration-color: lime green;
   text-decoration-style: dotted;
 }
 /* DROPDOWN: */
 #site-links .dropdown {
   display: inline-block;
   width: 8em;
 }
 #site-links .dropdown-content {
   display: none;
   position: absolute;

   background-color: red;
   z-index: 8;
 }
 #site-links .dropdown-content a {
  color #FFF;
  font-family: 'Arvo', Georgia, serif;
 }
 #site-links .dropdown-content a:hover {
   color: red;
   font-weight: 900;
}
#site-links .dropdown:hover .dropdown-content {
  display:
}
 #site-links .dropdown-item {
   min-width: 8em;
   padding: .4em 2em;
   display: block;

   text-align: center;
 }
 .dropdown-item:hover {
   background-color: orange;

 }
 /* SOCIAL MEDIA ACCOUNTS: */
 #social-links{
   padding: .5em;
   display: inline-block;
   float: right;
 }
#social-links .social-item {
  margin: 0 5px;
}
#social-links img {
  width: 20px;
  height: 20px;
  opacity: .3;
}
#social-links img:hover{
  opacity: 1;
}
